.flowerSection {
    margin: 1rem;
}

.flowerCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* -- flower images -- */

.flowerImage {
   width: 534px;
   height: 583px;
}

.otherFlowerImage {
    width: 386px;
    height: 520px;
}


/* -- More Information -- */
.moreInfo {
    margin: 1rem;
}






/* ----- Responsiveness ----- */
/* -- tablet -- */
@media (min-width:668px) and (max-width:1023px) {
    .flowerCard {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}



/* -- desktop -- */
@media (min-width:1024px) {
    .flowerSection {
        margin: 5rem;
    }

    .flowerCard {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
}