.flowerSection {
    margin: 1rem 1rem 4rem 1rem;
}

/* -- flower card -- */
.flowerCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.optionSelection {
    display: flex;
    gap: 1rem;
}

.flowerButton {
    color: #fff;
    font-weight: 400;
    background-color: #627A6C;
    margin: 0;
    border: 1px solid #424D2D;
}

.addButton {
    width: auto;
    max-width: 50%;
}

.flexInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.greenbox {
    color: #fff;
    background-color: #627A6C;
    padding: 2px 20px;
    margin-right: 5px;
    border: 1px solid #424D2D;
}

.quantity {
    display: inline-block;
    width: 57px;
}

.flowerImage {
    width: 100%;
    height: auto;
}


/* -- Other Items -- */
.otherItems {
    margin: 4rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.otherItemsCardContainer {
    display: flex;
    gap: 1rem;
}

.otherItemsCard {
    width: calc(50% - 0.5rem);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.otherItemsH3:hover {
    text-decoration: underline;
}

.otherFlowerImage {
    width: 100%;
    height: 178px;
    object-fit: cover;
}


/* ----- Responsiveness ----- */
/* -- tablet -- */
@media (min-width:668px) and (max-width:1023px) {
    .flowerCard {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    /* -- flower images -- */

    .flowerImage {
        width: 35%;
        max-width: 40%;
        height: auto;
        object-fit: cover;
    }

    .otherFlowerImage {
        width: 100%;
        height: 340px;
    }

}

/* -- desktop -- */
@media (min-width:1024px) {
    .flowerSection {
        width: 860px;
        margin: 0 auto;
    }

    .flowerCard {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .cardWrapper{
        justify-content: space-between;
    }

    .cardInfo {
        gap: 2rem;
    }

    .addButton {
        width: auto;
        max-width: 60%;
    }
    .otherItems {
        width: 860px;
        margin: 0 auto;
    }

    .otherItemsCardContainer {
        gap: 5rem;
        flex-direction: start;
    }

    .otherItemsCard {
        max-width: 30%;
    }

    /* -- flower images -- */

    .flowerImage {
        width: 100%;
        height: 500px;
        object-fit: fill;
    }

    .otherFlowerImage {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }
}